<h1>Admin Products</h1>

<%= link_to "New Product", new_admin_product_path, class: "btn" %>

<% @products.each do |p| %>
  <div class="card">
    <p><%= p.name %></p>
    <p>$<%= p.price %></p>

    <%= link_to "Edit", edit_admin_product_path(p) %>
  </div>
<% end %>